<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>It's a DogParty!</h1>
            <p class="lead">Welcome to DogParty. Please login to get the party started.</p>
            <img src="http://cdnblog.rentcafe.com/blog/wp-content/uploads/2012/05/Fotolia_34937840_Subscription_L.jpg">
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
