<% content_for :title do %>About DogParty<% end %>
<h3>About DogParty</h3>
<p>
DogParty was created in 2016 by three UC Berkeley students: Enrique Lopez, Gabrielle Balanon, and Daniel Ho
in their Ruby on Rails DeCal.
</p>
<h3>Why?</h3>
Why not? We have daily planners, wedding planners, workout planners, and even
planners to remind us when to drink water... but no apparatus to help us plan
fun dates for our favorite buddies? Ludacrous. We're here to fix that.

<h3>How to Use DogParty</h3>
Here'a an easy step-by-step tutorial to help you out.
<p>
  1. Create an account using the Sign Up button on the homepage.
  <br>
  2. Sign in.
  <br>
  3. Choose a party that fits into your schedule. If you don't see one
  you may create your own party using the CREATE button.
  <br>
  4. VOILA. You're about to get your party on.
</p>
