<div class="container">
  <div class="row">
    <h3>Partys</h3>
    <div class="column">
      <table class="table">
        <tbody>
        </tbody>
      </table>
    </div>
    <%= button_to "Create New Party", new_partys_path, :method => :get %>
  </div>
</div>
